/* styles.css */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
  }
  
  /* Header styles */
  header {
    background-color: #e74c3c;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: medium;
  }
  
  /* Navigation menu styles */
  nav {
    background-color: whitesmoke;
    color: navy;
    text-align: center;
    padding: 10px;
  }
  
  /* Main content styles */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    
  }
  
  /* Interactive button styles */
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: navy;
  }
  